/* PERSONALISED CURSOR */

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    html {
        cursor: none;
    }

    a {
        cursor: none;
    }

    .cursor-dot {
        width: 10px;
        height: 10px;
        background-color: white;
    }

    .cursor-outline {
        width: 30px;
        height: 30px;
        border: 2px solid hsla(0, 0%, 100%, 0.5);
        transition: left 0.15s, top 0.15s cubic-bezier(.12, .51, .94, .88);
    }

    .cursor-dot,
    .cursor-outline,
    .cursor2 {
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 100;
        pointer-events: none;
    }

    .cursor-text {
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        pointer-events: none;
        display: none;
        font-family: 'Orbitron', sans-serif;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }


    .cursor2 {
        width: 120px;
        height: 120px;
        background-color: #3986B8;
    }

}