@import 'fonts.css';
@import 'customCursor.css';
@import 'splitProjets.css';
@import 'boutonMenu.css';
@import '404.css';
@import 'contact.css';
@import 'aboutanimationstart.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        @apply text-blanc bg-sombre font-openSans;
        scroll-behavior: smooth;
        /* height: 100vh; */
        /* overflow: hidden; */
    }


    /* SCROLLBAR */
    body::-webkit-scrollbar {
        width: 11px;
    }

    body::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 0px;
    }

    body::-webkit-scrollbar-thumb {
        background: #3986B8;
        border-radius: 0px;
    }


    .parallax {
        pointer-events: none;
        transition: 0.45s cubic-bezier(.2, .49, .32, .99);
    }

    .fond-particles {
        top: calc(50% - 40px);
        left: calc(50% - 200px);
    }

    .texte {
        top: 35%;
        left: 40%;
    }

    .montagne1 {
        top: calc(50% + 290px);
        left: calc(50% - 200px);
    }

    .montagne2 {
        top: calc(50% + 270px);
        left: calc(50% - 200px);
    }

    .montagne3 {
        top: calc(50% + 250px);
        left: calc(50% - 200px);
    }

    .montagne4 {
        top: calc(50% + 270px);
        left: calc(50% - 200px);
    }

    .montagne5 {
        top: calc(50% + 210px);
        left: calc(50% - 200px);
    }

    .montagne6 {
        top: calc(50% + 180px);
        left: calc(50% - 200px);
    }


    /* MASK IMAGE */


    #hero {
        height: 100vh;
        position: relative;
        margin-bottom: -5%;
    }

    .layer-3 {
        background-image: url("../img/mountains_home.svg");
        background-position: 50% bottom;
        background-size: 100% auto;
        background-repeat: no-repeat;
        z-index: 100;
        pointer-events: none;
    }



    /* UNDERLINE ANIMATION */

    .underlineAnimation {
        position: relative;
    }

    .underlineAnimation::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 1.3px;
        background-color: #FFFFFF;
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }

    @media (hover: hover) and (pointer: fine) {
        .underlineAnimation:hover::before {
            left: 0;
            right: auto;
            width: 100%;
        }
    }


    /* BORDER ANIMATION */

    .borderAnimation {
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
    }

    .borderAnimation::before,
    .borderAnimation::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid #FFFFFF;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
        pointer-events: none;
    }

    .borderAnimation::after {
        transform-origin: right;
        clip-path: polygon(100% 0, 0 0, 100% 100%);
    }

    .borderAnimation:hover::before,
    .borderAnimation:hover::after {
        transform: scaleX(1);
    }






    #particles-js,
    #parallax,
    .layer,
    .some-space,
    .some-more-space {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    #particles-js {
        opacity: 0.6;
    }

    .titreParallax {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    .sousTitreParallax {
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    .boutonParallax {
        font-size: 18px;
        border: 1px solid white;
        position: absolute;
        top: 70%;
        left: 50%;
        letter-spacing: 0.05em;
        transform: translate3d(-50%, -50%, 0);
        text-decoration: none;
        transition: color 400ms;
        padding: 10px 15px;
    }

    .boutonParallax::before {
        content: '';
        position: absolute;
        inset: 0;
        display: inline-block;
        background-color: #FFFFFF;
        transform: scaleX(0);
        transform-origin: right;
        z-index: -1;
        transition: transform 400ms;
    }

    .boutonParallax:hover {
        color: #000000;
    }

    .boutonParallax:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }


    .boutonNormal {
        border: 1px solid #9ED0FF;
        color: #9ED0FF;
        letter-spacing: 0.05em;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        text-decoration: none;
        transition: color 400ms;
        padding: 20px 40px;
        text-transform: uppercase;
        pointer-events: auto;
    }

    .boutonNormal::before {
        content: '';
        position: absolute;
        inset: 0;
        display: inline-block;
        background-color: #9ED0FF;
        transform: scaleX(0);
        transform-origin: right;
        z-index: -1;
        transition: transform 400ms;
    }

    .boutonNormal:hover {
        color: #000000;
    }

    .boutonNormal:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }



    #parallax {
        pointer-events: none;
        top: -25vh;
        height: 65vh;
        /* Taille du composant Parallax, globalement des particules  */
    }

    #parallax .boutonParallax {
        pointer-events: auto;
    }

    .some-space {
        animation: rotate 18s 0.5s infinite linear reverse;
    }

    .some-more-space {
        -webkit-animation: rotate 15s 0.1s infinite linear;
        animation: rotate 15s 0.1s infinite linear;
    }

    @-webkit-keyframes rotate {
        0% {
            transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
        }

        100% {
            transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
        }
    }

    @keyframes rotate {
        0% {
            transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
        }

        100% {
            transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
        }
    }


    .bgFooter {
        background-image: url("../img/background-footer.svg");
        background-position: bottom;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .bgCompetences {
        position: relative;
        background-image: url("../img/clavier_bg.webp");
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .bgCompetences::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(158, 208, 255, 0.8);
        /* Adjust the last value to change the opacity */
    }



}






/* ANIMATION SURVOL PROJET */
.hover-effect {
    position: relative;
    overflow: hidden;
}

.hover-effect:hover {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0), 0px 0px 44px 12px rgba(57, 134, 184, 0.5);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0), 0px 0px 44px 12px rgba(57, 134, 184, 0.5);
}

.hover-effect::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9ED0FF;
    transform: translateY(-100%);
    transition: transform 0.3s cubic-bezier(.12, .66, .5, .85);
}

.hover-effect:hover::before {
    transform: translateY(0);
}


/* SCROLL TEXTE EFFET (BANDEAU) */

.scroll-container {
    overflow: hidden;
    width: 100%;
}

.cursorProjet:hover .scroll-text {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: scroll 5s linear infinite;
}

.scroll-container:hover .scroll-text {
    animation-play-state: running;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


.shadowLogo:hover {
    -webkit-box-shadow: 40px 40px 0px -24px #3986B8;
    box-shadow: 6px 6px 0px 0px #3986B8;
}

.boutonSend:hover .visibleSend {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

.boutonSendNav:hover .visibleSendNav {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.8rem;
}


#menuItems:hover>.menuItem {
    opacity: 0.4;
    transition: opacity 800ms;
}

#menuItems:hover>.menuItem:hover {
    opacity: 1;
    transition: opacity 800ms;
}

#menuBackgroundPattern {
    height: 100vh;
    width: 100vw;

    background-image: radial-gradient(rgba(2255, 255, 255, 0.1) 9%,
            transparent 9%);
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;

    transition: opacity 800ms ease, all 800ms ease;
}

#menuItems:hover~#menuBackgroundPattern {
    background-size: 10vmin 10vmin;
    opacity: 0.5;
}

#menu[data-active-index="0"]>#menuBackgroundPattern {
    background-position: 0% -25%;
}

#menu[data-active-index="1"]>#menuBackgroundPattern {
    background-position: 0% -50%;
}

#menu[data-active-index="2"]>#menuBackgroundPattern {
    background-position: 0% -75%;
}

#menu[data-active-index="3"]>#menuBackgroundPattern {
    background-position: 0% -100%;
}


.onReveal {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(10%);
    transition: all 1s;
}

.revealAnimation {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0%);
}



.selProjet {
    background-color: #9ED0FF;
    /* border: #3986B8 solid 2px; */
    transition: all .5s;
}

.selProjet::before {
    content: '<CURRENT>';
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    padding-right: 10px;
}

.selProjet::after {
    content: '</CURRENT>';
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}



.parallaxTest {
    display: grid;
    grid-template-areas: "stack";
}

.parallaxTest>* {
    grid-area: stack;
    animation: parallax linear;
    animation-timeline: scroll(root);
}

.parallaxTest>img {
    width: 100%;
}

@keyframes parallax {
    to {
        transform: translateY(calc(var(--parallax-speed) * 200px));
    }
}

.hero {
    --parallax-speed: 6;
}

.composantPa {
    --parallax-speed: 5;
}



.scrollContainerAccueil {
    overflow: hidden;
    width: 100%;
    display: flex;
}

.scrollTextAccueil {
    display: flex;
    gap: 3rem;
    white-space: nowrap;
    animation: scrollAccueil 15s linear infinite;
}

.scrollContainerAccueil .scrollTextAccueil {
    animation-play-state: running;
}

@keyframes scrollAccueil {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-30%);
    }
}

.titleRollAccueil::before {
    content: "/";
    padding-right: 3rem;
}


.navbarShow {
    display: flex;
}

.navbarStyle {
    background: rgb(6, 4, 28);
    background: linear-gradient(180deg, rgba(6, 4, 28, 1) 90%, rgba(6, 4, 28, 0) 100%);
    animation: slide-down 0.3s cubic-bezier(.22, .73, .74, 1) forwards;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}


.bgProjetFavori {
    position: relative;
    overflow: hidden;
}

.bgProjetFavori::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9ED0FF;
    /* Replace with your color */
    transition: top 0.4s ease-in-out;
}

.bgProjetFavori:hover::before {
    top: 0;
}

.competenceHover:hover img {
    --tw-grayscale: grayscale(0);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.competenceHover:hover h5 {
    font-weight: 700;
}