@import 'fonts.css';
@import 'customCursor.css';
@import 'splitProjets.css';
@import 'boutonMenu.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        @apply text-blanc bg-sombre font-openSans;
        /* height: 100vh; */
        /* overflow: hidden; */
    }



    .parallax {
        pointer-events: none;
        transition: 0.45s cubic-bezier(.2, .49, .32, .99);
    }

    .fond-particles {
        top: calc(50% - 40px);
        left: calc(50% - 200px);
    }

    .texte {
        top: 35%;
        left: 40%;
    }

    .montagne1 {
        top: calc(50% + 290px);
        left: calc(50% - 200px);
    }

    .montagne2 {
        top: calc(50% + 270px);
        left: calc(50% - 200px);
    }

    .montagne3 {
        top: calc(50% + 250px);
        left: calc(50% - 200px);
    }

    .montagne4 {
        top: calc(50% + 270px);
        left: calc(50% - 200px);
    }

    .montagne5 {
        top: calc(50% + 210px);
        left: calc(50% - 200px);
    }

    .montagne6 {
        top: calc(50% + 180px);
        left: calc(50% - 200px);
    }


    /* MASK IMAGE */


    #hero {
        height: 100vh;
        position: relative;
        margin-bottom: -5%;
    }

    .layer-3 {
        background-image: url("../img/mountains_home.svg");
        background-position: 50% bottom;
        background-size: 100% auto;
        background-repeat: no-repeat;
        z-index: 100;
        pointer-events: none;
    }



    /* UNDERLINE ANIMATION */

    .underlineAnimation {
        position: relative;
    }

    .underlineAnimation::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 1px;
        background-color: #FFFFFF;
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }

    @media (hover: hover) and (pointer: fine) {
        .underlineAnimation:hover::before {
            left: 0;
            right: auto;
            width: 100%;
        }
    }


    /* BORDER ANIMATION */

    .borderAnimation {
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
    }

    .borderAnimation::before,
    .borderAnimation::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid #FFFFFF;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
        pointer-events: none;
    }

    .borderAnimation::after {
        transform-origin: right;
        clip-path: polygon(100% 0, 0 0, 100% 100%);
    }

    .borderAnimation:hover::before,
    .borderAnimation:hover::after {
        transform: scaleX(1);
    }






    #particles-js,
    #parallax,
    .layer,
    .some-space,
    .some-more-space {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    #particles-js {
        opacity: 0.6;
    }

    .titreParallax {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    .sousTitreParallax {
        position: absolute;
        top: 13%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    .boutonParallax {
        font-size: 18px;
        border: 1px solid white;
        position: absolute;
        top: 70%;
        left: 50%;
        letter-spacing: 0.05em;
        transform: translate3d(-50%, -50%, 0);
        text-decoration: none;
        transition: color 400ms;
        padding: 10px 15px;
    }

    .boutonParallax::before {
        content: '';
        position: absolute;
        inset: 0;
        display: inline-block;
        background-color: #FFFFFF;
        transform: scaleX(0);
        transform-origin: right;
        z-index: -1;
        transition: transform 400ms;
    }

    .boutonParallax:hover {
        color: #000000;
    }

    .boutonParallax:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }


    .boutonNormal {
        border: 1px solid #9ED0FF;
        color: #9ED0FF;
        letter-spacing: 0.05em;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        text-decoration: none;
        transition: color 400ms;
        padding: 20px 40px;
        text-transform: uppercase;
        pointer-events: auto;
    }

    .boutonNormal::before {
        content: '';
        position: absolute;
        inset: 0;
        display: inline-block;
        background-color: #9ED0FF;
        transform: scaleX(0);
        transform-origin: right;
        z-index: -1;
        transition: transform 400ms;
    }

    .boutonNormal:hover {
        color: #000000;
    }

    .boutonNormal:hover::before {
        transform: scaleX(1);
        transform-origin: left;
    }



    #parallax {
        pointer-events: none;
        top: -25vh;
        height: 65vh;
        /* Taille du composant Parallax, globalement des particules  */
    }

    #parallax .boutonParallax {
        pointer-events: auto;
    }

    .some-space {
        animation: rotate 18s 0.5s infinite linear reverse;
    }

    .some-more-space {
        -webkit-animation: rotate 15s 0.1s infinite linear;
        animation: rotate 15s 0.1s infinite linear;
    }

    @-webkit-keyframes rotate {
        0% {
            transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
        }

        100% {
            transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
        }
    }

    @keyframes rotate {
        0% {
            transform: rotateZ(0deg) translate3d(0, 1.5%, 0) rotateZ(0deg);
        }

        100% {
            transform: rotateZ(360deg) translate3d(0, 1.5%, 0) rotateZ(-360deg);
        }
    }


    .bgFooter {
        background-image: url("../img/background-footer.svg");
        background-position: bottom;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .bgCompetences {
        position: relative;
        background-image: url("../img/clavier_bg.webp");
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .bgCompetences::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(158, 208, 255, 0.8);
        /* Adjust the last value to change the opacity */
    }



}






/* ANIMATION SURVOL PROJET */
.hover-effect {
    position: relative;
    overflow: hidden;
}

.hover-effect:hover {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0), 0px 0px 44px 12px rgba(57, 134, 184, 0.5);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0), 0px 0px 44px 12px rgba(57, 134, 184, 0.5);
}

.hover-effect::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9ED0FF;
    transform: translateY(-100%);
    transition: transform 0.3s cubic-bezier(.12, .66, .5, .85);
}

.hover-effect:hover::before {
    transform: translateY(0);
}


/* SCROLL TEXTE EFFET (BANDEAU) */

.scroll-container {
    overflow: hidden;
    width: 100%;
}

.cursorProjet:hover .scroll-text {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: scroll 5s linear infinite;
}

.scroll-container:hover .scroll-text {
    animation-play-state: running;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


.shadowLogo:hover {
    -webkit-box-shadow: 40px 40px 0px -24px #3986B8;
    box-shadow: 6px 6px 0px 0px #3986B8;
}

.boutonSend:hover .visibleSend {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}


.contourMenu {
    color: #06041C;
    letter-spacing: 0.5rem;
    text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;
}

.contourMenu:hover {
    color: white;
    text-shadow: none;
}


#menuItems:hover > .menuItem {
    opacity: 0.4;
}

#menuItems:hover > .menuItem:hover {
    opacity: 1;
}

#menuBackgroundPattern {
    height: 100vh;
    width: 100vh;
}